body {
    font-family: Verdana;
    color: black;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 24px;
    top: 0;
}

#logo {
    width: 200px;
    height: 200px;
    padding: 0.5rem;
}

nav {
    width: 50%;
    max-width: 600px;
    height: 50px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav > ul > li {
    color: #222E50;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

nav > ul > li:hover {
    color: #007991;
    cursor: pointer;
}

li > a {
    color: inherit;
    text-decoration: none;
}

button {
    display: inline-block;
    background-color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #222E50;
    color: #222E50;
    border-radius: 50px;
    font-size: 24px;
    cursor: pointer;
}

button:hover {
    background-color: #E9D985;
}

.intro {
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
    width: 90%;
}

.intro > div {
    margin-right: 100px;
}

.intro >div:last-child {
    margin-right: 0;;
}

h1 {
    text-align: center;
    font-size: 36px;
}

.intro-subtitle {
    text-align: center;
    font-size: 28px;
}

#selfie {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.about {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #222E50;
    color: white;
}

h2 {
    text-align: center;
    font-size: 28px;
}

.information {
    text-align: center;
    font-size: 24px;
    width: 80%;
    margin: auto;
}

.tool-lists {
    display: flex;
    justify-content: center;
    margin: 0 auto 50px auto;
    width: 90%;
    padding-top: 50px;
}

.column {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 10px;
    margin: 5px 0;
}

.tool-1 {
    background-color: #007991;
    color: white;
    border-radius: 10%;
}

.tool-2 {
    background-color: #439A86;
    color: black;
    border-radius: 10%;
}

.tool-3 {
    background-color: #E9D985;
    color: black;
    border-radius: 10%;
}

.alt-color1 {
    color: #439A86
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #E9D985;
    font-family: Verdana;
    color: black;
    font-size: 18px;
}

#logo-footer {
    margin-top: -30px;
    width: 200px;
    height: 200px;
}

.footer-message {
    margin-top: -30px;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    margin: 0 5px;
    color: #222E50;
    text-decoration: none;
    font-size: 24px;
}

.social-links a:hover {
    color: #439A86;
}
